
* {
  font-family: arial, sans-serif;
  padding: 0px;
  margin: 0px;
}

body {
  position: relative;
	width: 100%;
	/* using scroll bar to display element when window goes narrow*/
	min-width: 1080px;
	overflow: auto;
}

.nav-top {
  position: absolute;
	/* hidden top navbar when window goes narrow */
	overflow: hidden;
  box-sizing: border-box;
  top: 0;
  width: 100%;
  /* for debugging */
  /*border: 1px solid black;*/
}

.nav-top-left {
  float: left;
  margin: 20px 30px;
  /* for debugging */
  /* border: 2px solid green;*/
}

.nav-top-left li {
  display: inline-block;
  /* for debugging */
  /* border: 1px solid red; */
}

.nav-top-left li a {
  font-size: 13px;
  text-decoration: none;
  list-style-type: none;
  color: black;
  padding: 0 10px;
  /* make sure anchor element has same height as its parent */
  display: inline-block;
  height: 100%;
  line-height: 200%;
  /* for debugging */
/*  border: 1px solid black;*/
}

.nav-top-right {
  margin: 20px 30px;
  float: right;
	
  /* for debugging */
/*  border: 1px solid red;*/
}
.nav-top-right li {
  display: inline-block;
  /* for debugging */
  /*border: 1px solid red;*/
}
.nav-top-right li a {
  font-size: 13px;
  text-decoration: none;
  list-style-type: none;
  color: black;
  /* make sure anchor element has same height as its parent */
  display: inline-block;
  height: 100%;
  line-height: 200%;

  padding: 0 10px;
  /* for debugging */
  /*border: 1px solid black;*/
}

.nav-top-right .sign-in-icon {
  background: linear-gradient(to top, #4387fd, #4683ea);
  /* need to overwrite above style by adding .nav-top-right */
  color: white;
  border: 1px solid #4285f4;
  border-radius: 5%;
  font-weight: bold;

}

.nav-top-right .expanded-apps {
  line-height: 1.5;
}

#app-launcher {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

/********************************************/
.google-icon {
  display: inline-block;
	position: absolute;
	top: 200px;
	left: 40%;
}

/*******************************************/
.search-input {
  position: absolute;
	display: inline-block;
	margin: 320px 32%;

/*	border: 1px solid purple;*/
}

.search-input .search-formbox {
  display: inline-block;
  height: 100%;
	width: 100%;
	position: relative;

/*  border: 1px solid black;*/
}

.search-formbox input {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 2.5;
	width: 100%;
	padding-left: 16px;
	padding-right: 10px;
}

.search-input .buttons {
  position: relative;
	top: 30px;
	left: 102px;
	letter-spacing: 0.2px;
	display: inline-block;

/*	border:1px solid red;*/
}

#search-submit-button,
#have-fun-button {
  font-size: 13px;
	font-weight: bold;
	line-height: 27px;
	padding: 4px 16px;
	margin: 0 2px;
	color: #787878;
	border-radius: 2px;
	background: linear-gradient(to top, #f5f5f5, 50%, #f1f1f1);
	border: 1px solid #f5f5f5;
}
/************************************************/

#footer {
	position: fixed;
	/* hidden footer navbar when window goes narrow */
	overflow: hidden;
	min-width: 1080px;
	background-color: #f2f2f2;
	bottom: 0;
  width: 100%; 
  padding: 12px 0;
  box-sizing: border-box;
}

.nav-footer-left {
  display: inline-block;
  left: 20px;
  height: 100%;
  /*border: 1px solid blue;*/
}

.nav-footer-left li {
  display: inline-block;
}

.nav-footer-left li a {
  line-height: 1;
  padding: 0 15px;
  text-decoration: none;
  font-size: 13px;
	color: #626262;

/*  border: 1px solid black;*/
}

.nav-footer-right {
  display: inline-block;
	float: right;
  height: 100%;
}

.nav-footer-right li {
  display: inline-block;
}

.nav-footer-right li a {
  display: inline-block;
  padding: 0 15px;
  text-decoration: none;
  font-size: 13px;
	color: #626262;
}

/************************************/
.nav-top a:hover,
#footer a:hover {
  text-decoration: underline;
}
.nav-top-right li:nth-last-child(1)>a:hover {
  text-decoration: none;
}

#have-fun-button:hover,
#search-submit-button:hover {
  color: black;
	border: 1px solid #d5d5d5;
	box-shadow: 0 1px 1px #e0e0e0;
}


